In [15]:
import pandas as p

In [16]:
df2 = p.read_excel(r'C:\Users\dchakrab.COMPUTACENTER\Downloads\Superstore_USA.xlsx')

In [103]:
df2.dtypes

Row ID                                     int64
Order Priority                            object
Discount                                 float64
Unit Price                               float64
Shipping Cost                            float64
Customer ID                                int64
Customer Name                             object
Ship Mode                                 object
Customer Segment                          object
Product Category                          object
Product Sub-Category                      object
Product Container                         object
Product Name                              object
Product Base Margin                      float64
Region                                    object
State or Province                         object
City                                      object
Postal Code                                int64
Order Date                        datetime64[ns]
Ship Date                         datetime64[ns]
Profit                                   float64
Quantity ordered new                       int64
Sales                                    float64
Order ID                                   int64
difference_days_order_shipment             int64
dtype: object

In [19]:
df2.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [20]:
df3 = p.read_excel(r'C:\Users\dchakrab.COMPUTACENTER\Downloads\Superstore_USA.xlsx', sheet_name = "Returns")

In [21]:
df4 = p.read_excel(r'C:\Users\dchakrab.COMPUTACENTER\Downloads\Superstore_USA.xlsx', sheet_name = "Users")

>>>>>>>>>>>>>>>>Joininig order and returns data>>>>>>>>>>>>>>>>>>>

In [23]:
df5_Orders_returns = p.merge(df2,df3, on = 'Order ID')

In [24]:
df5_Orders_returns

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [ ]:
>>>>>>>>Find Out How many Unique customers we have>>>>>>>>>>

In [26]:
len(p.unique(df2['Customer ID']))

2703

>>>>>>>>>>>>>>>>>>Find out how many returns that we ahve recived and with a product id>>>>>>>>>>>>>>>>>>

In [101]:
df5_Orders_returns.dtypes

Row ID                                               int64
Order Priority                                      object
Discount                                           float64
Unit Price                                         float64
Shipping Cost                                      float64
Customer ID                                          int64
Customer Name                                       object
Ship Mode                                           object
Customer Segment                                    object
Product Category                                    object
Product Sub-Category                                object
Product Container                                   object
Product Name                                        object
Product Base Margin                                float64
Region                                              object
State or Province                                   object
City                                                object
Postal Code                                          int64
Order Date                                  datetime64[ns]
Ship Date                                   datetime64[ns]
Profit                                             float64
Quantity ordered new                                 int64
Sales                                              float64
Order ID                                             int64
Status                                              object
Or_return_difference_days_order_shipment             int64
dtype: object

In [104]:
df5_Orders_returns.groupby('Product Name')['Status'].count()

Product Name
#10 White Business Envelopes,4 1/8 x 9 1/2             1
12 Colored Short Pencils                               1
232                                                    1
600 Series Flip                                        1
6160                                                   1
                                                      ..
Xerox 197                                              2
Xerox 1980                                             1
Xerox 1983                                             2
Xerox 210                                              1
Zoom V.92 V.44 PCI Internal Controllerless FaxModem    1
Name: Status, Length: 94, dtype: int64

In [30]:
p.unique(df2['Region'])

array(['Central', 'West', 'East', 'South'], dtype=object)

In [31]:
df4

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

>>>>>>>>>>>>>>>>>>>>>>>>>find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset >>>>>>>>>>>>>>>>>>>>>>>>>>

In [32]:
p.unique(df2['Ship Mode'])

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [35]:
s1 = df2.groupby('Ship Mode')['Ship Mode'].count()

In [43]:
s1

Ship Mode
Delivery Truck    1283
Express Air       1107
Regular Air       7036
Name: Ship Mode, dtype: int64

In [51]:
for i in range(0,len(s1)):
    v = (s1[i]/s1.sum())*100
    print(v,s1[i])
    i=i+1

13.611287927010396 1283
11.744112030553786 1107
74.64460004243581 7036

>>>>>>>>>>Regular Air have more usability percentage in the dataset>>>>>>>>>>

In [55]:
df2.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

>>>>>>>>>>>>>>>>>Create a new coulmn and try to find our a diffrence between order date and shipment date>>>>>>>>>

In [68]:
df2['difference_days_order_shipment'] = (df2 ['Ship Date'] - df2['Order Date']).dt.days

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_days_order_shipment
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,1
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,1
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,1
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,0

In [105]:
df2.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_days_order_shipment
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,1
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,1
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,1
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,0

In [71]:
df2.dtypes

Row ID                                     int64
Order Priority                            object
Discount                                 float64
Unit Price                               float64
Shipping Cost                            float64
Customer ID                                int64
Customer Name                             object
Ship Mode                                 object
Customer Segment                          object
Product Category                          object
Product Sub-Category                      object
Product Container                         object
Product Name                              object
Product Base Margin                      float64
Region                                    object
State or Province                         object
City                                      object
Postal Code                                int64
Order Date                        datetime64[ns]
Ship Date                         datetime64[ns]
Profit                                   float64
Quantity ordered new                       int64
Sales                                    float64
Order ID                                   int64
difference_days_order_shipment             int64
dtype: object

In [ ]:
>>>>>>>base on question number 8 find out for which order id we have shipment duration more than 10 days>>>>>>>

In [76]:
p.unique(df2[df2['difference_days_order_shipment']>10]['Order ID'])

array([87215, 86318, 87957, 19556, 86177, 88223, 88352, 87572, 91294,
       86434, 86436, 87300, 19841], dtype=int64)

In [77]:
df5_Orders_returns.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned

In [79]:
df5_Orders_returns['Or_return_difference_days_order_shipment'] = (df5_Orders_returns ['Ship Date'] - df5_Orders_returns['Order Date']).dt.days

In [80]:
df5_Orders_returns.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Or_return_difference_days_order_shipment
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned,4
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned,2
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned,2
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned,2
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned,0

>>>>>>>>>>>>>>>>>10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well >>>>>>>>>>>>>>>>>>>>>>>>>

In [82]:
df5_Orders_returns[df5_Orders_returns['Or_return_difference_days_order_shipment'] > 15]

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, Status, Or_return_difference_days_order_shipment]
Index: []

[0 rows x 26 columns]

>>>>>>>>>>We do not have a returned order which we have more than 15 days shipment days>>>>>>>>>

>>>>>>>>>>>>>>>>> Gorup by region and find out which region is more profitable >>>>>>>>>>>>>>>>>>>>>>>>

In [86]:
df2.groupby('Region')['Profit'].max().nlargest(3)

Region
South      16332.4140
Central    12504.9045
East        9228.2256
Name: Profit, dtype: float64

>>>>>We can clearly identify that South Region is more profitable>>>>>>>>>

>>>>>>>>>>>>>>>>>>>>>>>>>>>Try to find out overalll in which country we are giving more didscount >>>>>>>>>>>

In [85]:
df2.groupby('State or Province')['Discount'].max().nlargest(5)

State or Province
Illinois     0.25
Minnesota    0.17
Alabama      0.10
Arizona      0.10
Arkansas     0.10
Name: Discount, dtype: float64

>>>>>We can see from the above data that State Illinois we have given more discount>>>>

In [ ]:
>>>>>>>>>>>>>>>>>>> Give me a list of unique postal code >>>>>>>>>>>>>>>>

In [90]:
p.unique(df2['Postal Code'])

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

In [ ]:
>>>>>>>>>>>>>>>>>>>>>>.. which customer segement is more profitalble find it out>>>>>>>>>>>>>>

In [91]:
df2.groupby('Customer Segment')['Profit'].max().nlargest(5)

Customer Segment
Home Office       16332.4140
Corporate         12504.9045
Small Business    11429.4774
Consumer           8118.8919
Name: Profit, dtype: float64

>>>>>>>Home Office, customer segment is more profitable>>>>>>>>>>>>>>>

In [ ]:
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Try to find out the 10th most loss making product catagory>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [97]:
df2.groupby('Product Category')['Profit'].min().nsmallest()

Product Category
Technology        -16476.83800
Office Supplies   -14369.12358
Furniture         -13706.46400
Name: Profit, dtype: float64

We do not have 10th most loss making product category, however from the data we can see that 'Furniture' is the 3rd highest loss making product category

In [ ]:
>>>>>>>>>>>Top 10 product with highest margins>>>>>>>>>>>>

In [106]:
df2.groupby('Product Name')['Product Base Margin'].max().nlargest(10)

Product Name
Accessory27                                                                   0.85
Accessory4                                                                    0.85
Belkin OmniView SE Rackmount Kit                                              0.85
Office Impressions Heavy Duty Welded Shelving & Multimedia Storage Drawers    0.85
Sterling Rubber Bands by Alliance                                             0.85
Serrated Blade or Curved Handle Hand Letter Openers                           0.84
Tennsco Commercial Shelving                                                   0.84
Tennsco Stur-D-Stor Boltless Shelving, 5 Shelves, 24" Deep, Sand              0.84
*Staples* vLetter Openers, 2/Pack                                             0.83
Accessory15                                                                   0.83
Name: Product Base Margin, dtype: float64